
#header {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 60px);
	height: 50px;
	padding: 30px;
	
	background-color: hsla(226, 10%, 56%, 1);
}

body {
	
}

.signup {
	float: right;
	padding:15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 8px;
	
	height: 16px;
	
	background-color: hsla(226, 40%, 50%, 1);
	color: hsla(226, 10%, 80%, 1)
}

.name {
	font-size: 55px;
	color: hsla(226, 20%, 80%, 1)
}

#content.smallNav{
	margin-top: 110px;
}
