
#header {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100% - 60px);
	height: 50px;
	padding: 30px;
	
	background-color: hsla(226, 10%, 56%, 1);
}

body {
	min-height: 100%;
	position: relative;
}

.signup {
	float: right;
	padding:15px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 8px;
	
	height: 16px;
	
	background-color: hsla(226, 40%, 50%, 1);
	color: hsla(226, 10%, 80%, 1);
}
.inline.signup{
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	float: none;
	width: 60px;
	
	text-decoration: none;
	text-align: center;
}
a.inline.signup{
	margin:0;
	padding:0;
	float:none;
	height:auto;
	width:auto;
	background-color: none;
	
	color: hsla(226, 10%, 80%, 1);
}

span.name {
	font-size: 55px;
	color: hsla(226, 20%, 80%, 1);
}
a.name{
	text-decoration: none;
}
@media (max-width: 520px) {
	span.name{
		font-size: 40px;
	}
}
@media (max-width: 430px) {
	span.name{
		font-size: 30px;
	}
}

#content.smallNav{
	margin-top: 110px;
}
#content{
	padding: 20px;
	width: calc(100% - 60px);
	max-width: 800px;
	
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 80px; /* the height of the footer */
	
	font-size: 20px;
}

.inlineSignup {
	text-align: center;
}
.inlineSignup span{
	text-align: center;
}

#mainImage {
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 70px;
	margin-bottom: 70px;
	width: calc(100% - 20px);
}
#mainImage img{
	height: inherit;
	width: inherit;
}

.caption {
	text-align: center;
	color: hsla(226, 60%, 30%, 1);
	
	font-size: 15px;
}
.caption a{
	color: hsla(226, 60%, 40%, 1);
}

#footer {
	position: absolute;
	bottom: 0;
	
	/* the content section has a bottom-padding of the total height of this so that this is at the bottom */
	height: 20px;
	width: calc(100% - 60px);
	padding: 30px;
	
	font-size: 14px;
	
	background-color: hsla(226, 20%, 50%, 1);
}
#footer a{
	color: hsla(226, 80%, 20%, 1);
	padding-left: 6px;
	padding-right: 6px;
}

.signout {
	float: right;
}

html {
	height: 100%;
}
