<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}{% endblock %} | Chicken A Day</title>
		
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/defaults.css">
		<link rel="stylesheet" type="text/css" href="/static/stylesheets/theme.css">
	</head>
	<body>
		<div id="header" unselectable="on">
			{# putting it in a block means that it can be disabled easily with simply {% block signup %}{% endblock %} on any template #}
			{% block signup %}<a href="/account"><span class="signup">Signup</span></a>{% endblock %}
			<a href="/" class="name"><span class="name">Chicken A Day</span></a>
		</div>
		<div id="content" class="smallNav">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<a href="/terms">Terms of Use</a>
			<a href="/privacy">Privacy Policy</a>
			<a href="{{ signout }}" class="signout">Signout</a>
		</div>
	</body>
</html>