{% extends "base.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
	<p id="mainMessage">
This is the privacy policy for chickenaday.appspot.com, which shall be referred to as “The Service”. All data that is passed by a human, browser, computer, or automated system to The Service shall be referred to as “All Data Received By The Service”. Google refers to Google Inc. “You” or “Your” refers to the person using The Service. “All Users” refers to all persons using The Service. “Chicken Emails and Other Related Emails” refers to any email sent by The Service in an attempt to provide You with a daily chicken image or send you other information as a part of The Service. The Service is operated by “Daniel F”.
<br><br>
The Service runs on equipment controlled by Google. All Data Received By The Service can be accessed by Google. Google’s access of this data is governed by their privacy policy.
<br><br>
All Data Received By The Service will not be shared with any person not “Daniel F” unless required by any applicable law, or required in order to provide The Service.
<br><br>
The Service will make every attempt to comply with any request by the US Government or any other government that The Service falls under the jurisdiction of.
<br><br>
The Service has not been requested by any government to undertake any action or provide any data. (Check if this paragraph disappears or changes).
<br><br>
All Data Received By The Service may be shared with The Rocket Science Group for the purpose of sending You emails. Their use of any data provided to them will be governed by their privacy policy.
<br><br>
Part of All Data Received By The Service includes “General Logs”. General Logs are used by most websites and record Your IP Address and information about Your browser. General Logs are stored indefinitely. You can choose what data goes into the General Logs by referring to your browser’s manual or help page, and using a VPN or proxy.
<br><br>
<br><br>
Also, details about the email client and email address of any person or system that opens an email sent by The Service are recorded. In addition, the number of times an email is "opened" by a person and some systems, and the time that each of these opens occured, may be recorded, and when a link in any email sent by The Service is clicked on, details about the computer of the User that clicked the link, the User's email, and the time that the link was clicked, may be recorded.
		
In addition, some of All Data Received By The Service includes personal information provided by You for the purpose of receiving Chicken Emails and Other Related Emails. By unsubscribing by clicking on the “unsubscribe” link at the bottom of an email sent by The Service or visiting the page chickenaday.appspot.com/unsubscribe and providing an email address, you inform The Service that you no longer wish to recieve emails and are “Unsubscribing”. Within one hour of Unsubscribing, you will not receive any email from the service unless you expressly request to be emailed by re-providing your email address. Within one hour of Unsubscribing, you will be deleted from The Services list of All Users. Personal information may remain in the General Logs indefinitely. 
	</p>
{% endblock %}