{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block signup %}{% endblock %}

{% block content %}
	<p id="mainMessage">
		Hello {{ name }},
		
		<br><br>
		{% if not alreadyConfirmed %}
		
			Thanks for signing up.
			<br><br>
			Check your inbox for a confirmation email sent to {{ email }}. There will be a link to click on to complete the signup.
			<br><br>
		
		{% else %}
			It looks like you have already signed up.
			<br><br>
			If you aren't receiving your chicken photos, email me at contact at-sign-thingy chickenaday little-dot-thingy appspotmail little-dot-thingy com.
			<br><br>
		If you want to sign up with a new email, you can <a href="{{signoutToHere}}">sign out</a> and then sign in with the new account.
		{% endif %}
		
		If you ever want to (gasp) stop recieving my wonderful chicken pictures, you can go to chickenaday.appspot.com/unsubscribe, or click on the unsubscribe link at the bottom of every email.
		<br><br>
		Enjoy the chicken photos,
		<br><br>
		Daniel
	</p>
{% endblock %}