{% extends "base.html" %}

{% block title %}Report a Bad Image{% endblock %}

{% block content %}
	<p id="mainMessage">
Hello,
<br><br>
As stated in the privacy policy and terms of use, all images shown in the daily emails are chosen by an automated system from Flickr.
<br><br>
The automated system only selects images that may be used for non-commercial use with attribution.
<br><br>
Any complaints about images should be addressed to Flickr.
<br><br>
However, if you send me a request and I decide that an image should not be displayed again in the chicken a day email, I will make a good faith effort to program my system to never select that image again.
<br><br>
You may contact me at <a href="http://www.google.com/recaptcha/mailhide/d?k=01KyObK9qHbPGdhFPgCcxyRg==&amp;c=bIPlUHQNC9OozC0TiP9tw6YdSxVG82Gl0v0jt0QApFE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501KyObK9qHbPGdhFPgCcxyRg\75\75\46c\75bIPlUHQNC9OozC0TiP9tw6YdSxVG82Gl0v0jt0QApFE\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">d...</a>@openmailbox.org to request that an image never be selected again. Please forward the chicken a day email that the image is in along with a message about why this image should not be chosen again.
<br><br>
For instance, I would like to know if the image chosen is not of a live chicken.
<br><br>
Because of the method used to select images, it is unlikely that an image will be chosen twice within any of our lifetimes.
<br><br>
Thank you,
<br><br>
Daniel
	</p>
{% endblock %}