{% extends "base.html" %}

{% block title %}Terms{% endblock %}

{% block content %}
	<p id="mainMessage">
This service is provided by “Daniel F”. 
<br><br>
By accessing this website in any method, you agree to attempt to access anything that was not intended to be accessible to you, or attempt to hack it in any way.
<br><br>
This service is provided AS IS, with no warranty of any kind.
<br><br>
This service may shut down at any time, with or without warning.
<br><br>
The images shown in the “Chicken A Day” email are automatically found by an automated system. “Daniel F” is not responsible for the content of these images. Any complain about the content of any images should be sent to Flickr, the service that the images are accessed from.
<br><br>
The automated system only selects images that it may use for non commercial purposes with attribution. You must research any image before using it. Daniel Franklin does not own the rights to any chicken photo displayed.
<br><br>
If you report a complaint about an image at <a href="/reportBad">chickenaday.com/reportBad</a>, within a week "Daniel F" will undertake a reasonable attempt to prevent that image from being chosen again.
<br><br>
Any data about you will be dealt with according to the <a href="/privacy">privacy policy</a>.
	</p>
{% endblock %}